// Sass Variables
$mainColor: #036DA3;
$secColor: #484E5C;
$bodyColor: #5E6778;
$whiteColor: #FFFFFF;
$grayColor: #F3F3F3;
$bodyFont: 'Frutiger LT Arabic', sans-serif;
$bodyFontSize: 14px;
$bodyLineHeight: 25px;