.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  @include prefix(display, flex, webkit moz ms o);
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
  &.style-2 {
    justify-content: flex-end;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  &.hidden {
    display: none;
  }

  .notifications-content {
    background-color: $whiteColor;
    max-width: 400px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 0 5px;
    border-radius: 32px;
    overflow: hidden;
  }
}
